{% extends "index.html" %}
{% block title %}Aspect Based Sentiment Analysis - Project Maintenance{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .Positive { color: green; }
        .Negative { color: red; }
        .Neutral { color: darkblue; }
        button { margin: 5px; }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px 20px; /* Padding kiri dan kanan 20px */
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="absa-content">
        <h3>Aspect Based Sentiment Analysis - Project Maintenance</h3>
    
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" id="csvFile" name="csvFile" accept=".csv">
            <button type="button" onclick="uploadFile()">Upload and Analyze</button>
        </form>
        <div id="result"></div>
        <div id="positiveRatio"></div>
    
        <script>
            function uploadFile() {
                var formData = new FormData();
                var file = $('#csvFile')[0].files[0];
                formData.append('csvFile', file);
    
                $.ajax({
                    url: '/upload_csv',
                    method: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        $('#result').empty();  // Clear previous results
                        var table = '<table><thead><tr><th>Review</th><th>Sentiments</th></tr></thead><tbody>';
                        var positiveCount = 0;
    
                        data.results.forEach(function(row) {
                            var sentimentDetails = row.sentiments.map((sentiment, index) => 
                                row.aspects[index] + ': <span class="' + sentiment + '">' + sentiment + '</span>'
                            ).join(', ');
                            table += '<tr><td>' + row.review + '</td><td>' + sentimentDetails + '</td></tr>';
                            if (row.sentiments.includes('Positive')) {
                                positiveCount++;
                            }
                        });
    
                        table += '</tbody></table>';
                        $('#result').html(table);
    
                        var positiveRatio = (positiveCount / data.results.length) * 100;
                        $('#positiveRatio').html('Positive Sentiment Ratio: ' + positiveRatio.toFixed(2) + '%');
                    }
                });
            }
        </script>
    </div>
</body>
</html>
{% endblock %}
